@model HolidayRoutings.Models.vl_HRC_HBC_HOLIDAY_DEPARTMENT_ROUTING

@{
    ViewBag.Title = "Apagar Routing";
}

<h3>Apagar este routing?</h3>
<div>    
    <div class="p-3 mb-2 bg-dark text-white">
        <h4>[@(Model.user_name)]</h4>
    </div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.person_in_charge_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.person_in_charge_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mandatory)
        </dt>
        @if (Model.mandatory == 1)
        {
            <dd>Sim</dd>
        }
        else
        {
            <dd>Não</dd>
        }
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar", "Details", "Users", new { id = Model.user_id }, null)
        </div>
    }
</div>
